/* News letter footer */
.newsletter {
  padding: 2.5em 0;
  background-color: var(--dark-color);
  color: var(--white-color);
}

.newsletter h3 {
  font-size: 1.5em;
}

.newsletter p {
  font-weight: var(--fw3);
  color: var(--border-color);
  margin: 0.5em 0 1.5em;
}

.newsletter p strong {
  color: var(--primary-color);
}

.newsletter form {
  max-width: 500px;
  width: var(--percent100);
}

/* Widgets footer */

.widgets {
  padding: 3.5em 2.5em;
  background-color: var(--light-bg-color);
}

/* intro footer */
.footer-info {
  padding: 3.5em 0 5em;
}

.footer-info .wrapper .flexcol {
  align-items: center;
  gap: 0;
}

.footer-info ul li a {
  font-size: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--light-bg-color);
  border-radius: var(--percent50);
  margin: 0.25em;
  transition: var(--trans-background);
}

.footer-info ul li a:hover {
  background-color: var(--border-color);
}

.footer-info .logo a {
  margin: 0 0 1em -0.75em;
}

.footer-info .mini-text {
  margin-top: 2em;
  text-align: center;
}

@media (min-width: 768px) {
  .widgets .row {
    flex: 0 0 50%;
  }
}

@media (min-width: 992px) {
  .newsletter .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .widgets .row {
    flex: 0 0 25%;
  }
}
