.menu-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  background-color: var(--white-color);
  box-shadow: 0 -2px 10px rgb(0, 0, 0 / 10%);
  z-index: 900;
}

.menu-bottom nav li {
  flex: 1;
}

.menu-bottom nav li a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 0;
  color: var(--light-text-color);
  transition: var(--trans-color);
}

.menu-bottom nav li a:hover {
  color: var(--dark-color);
}

.menu-bottom nav li a span {
  font-size: var(--font-smaller);
}

.menu-bottom nav li a i {
  font-size: 1.25em;
}

.menu-bottom .fly-item {
  right: 50%;
  width: 16px;
  border-radius: var(--percent50);
  margin-right: -20px;
  background-color: var(--secondary-dark-color);
}
